{{ define "body_classes"}}
archive
{{ end }}

{{ define "main" }}

<section class="inner">
  <h1 class="post-title">{{ .Title }}</h1>
  {{ with .Content }}
  <div>{{ . }}</div>
  {{ end }}

  {{- $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
  
  <ul>
    {{- range $pages.GroupByPublishDate "2006" -}}
    <li><a href="#{{ .Key }}">Published in {{ .Key }} ({{ len .Pages }} posts)</a></li>
    {{end}}
  </ul>

  {{ range $pages.GroupByPublishDate "2006" }}
    <h2 id="{{ .Key }}">Published in {{ .Key }} ({{ len .Pages }} posts) <a href="#{{ .Key }}" class="post__hash">#</a></h2>
    <ul class="archive">
      {{ range .Pages }}
        <li class="archive__item">
          <h2 class="archive__title">
            <a class="archive__link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
          </h2>
          <p class="archive__date">Published <time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006.01.02" .Date }}</time></p>
        </li>
      {{ end }}
    </ul>
  {{ end }}

</section>
{{ end }}