<!DOCTYPE html>
<html {{ with site.LanguageCode | default site.Language.Lang }}lang="{{ . }}"{{ end }}{{- block "html_classes" . }}{{ end }}>
{{- partial "head.html" . -}}

<body class="kind-{{.Kind}} type-{{.Type}}{{- block "body_classes" . }} {{end}}">
  <div class="site">
    {{- partial "header.html" . -}}    
    <main>
    {{- block "main" . }}{{- end }}
    </main> 
    {{ partial "footer.html" . }}    
  </div>
  {{ if eq site.Params.exitPopup true }}
  {{ partial "modal-exit-intent" . }}
  {{ end }}
  {{ partial "js.html" . }}
</body>
</html>
