{{ define "html_classes"}}
{{- if eq site.Params.introPopup true }}
class="has-intro-popup"
{{- end }}
{{ end }}

{{ define "main" }}

{{- $headline := site.Data.frontpage.headline | default .Title }}
{{- $subheadline := site.Data.frontpage.subheadline  }}
{{- $teaser := site.Data.frontpage.teaser }}
{{- $body := site.Data.frontpage.body }}

{{- if eq .Params.big_head true }}
{{- with $headline }}
<header class="big-header">
  <h1 class="big-header-title">{{.}}</h1>
</header> 
{{- end }}{{ end -}}
<div class="hero-grid-container">
  <div class="hero-grid_item">
    {{- if eq .Params.big_head true }}
      {{- with $subheadline }}
      <h2 class="hero-grid-title">{{.}}</h2>
      {{end -}}
    {{ else }}
      <h1 class="hero-grid-title">{{ $headline }}</h1>
    {{ end }}
    {{ with $teaser }}
    <div class="post-teaser">
      {{ $.RenderString (dict "display" "block") . }}
    </div>
    {{end}}
    {{ with $body }}
    <div class="hero-grid-content">
      {{ $.RenderString (dict "display" "block") . }}
    </div>
    {{ end }}
    {{/*  <a class="hero-grid__button" href="{{ ref . "newsletter" }}">Yes, I want in!</a>  */}}
    {{ partial "emailoptin" . }}
  </div>
  <div class="hero-grid_item">
    {{ partial "featured-image" . }}
  </div>
</div>
{{ if eq site.Params.frontpage.chooser true }}
{{/*  {{ if eq site.Data.frontpage.chooser true }}  */}}
<section>
  <h2>How can I help you?</h2>
  <div class="chooser-grid-container">
    {{/*  {{ range site.Params.frontpage.sections }}   */}}
    {{ range site.Data.frontpage.sections }}     
    <a class="chooser-grid_block" href="{{ .url | absURL }}">
      <div>{{ .icon | emojify }}</div>
      <h2>{{ .heading }}</h2>
      {{ with .text }}<p>{{ . }}</p>{{ end }}
    </a>
    {{ end }}
  </div>  
</section>
{{ end }}

{{ with .Content }}
<div class="inner">

  <section class="post-content">
    {{ . }}
  </section>
  
</div>
{{ end }}

{{- if eq site.Params.popup true }}
{{ partial "modal-home" . }}
{{- end }}

{{ end }}