<!DOCTYPE html>
<html {{ with site.LanguageCode | default site.Language.Lang }}lang="{{ . }}"{{ end }}>
{{- partial "head.html" . -}}
<body>

  <div class="lp-background">
    {{ with .Params.image.src }}
    <div class="lp-background-blur" style="background-image: url({{ . }});">
    </div>
    {{ end }}
  </div>

  <div class="lp-container">
    <div class="lp-space">
      <div class="lp-card">
        <div class="lp-card-top">
          {{ with .Params.image.src }}
          <img src="{{ . }}">
          {{ end }}
        </div>
        <div class="lp-card-body">
          <h4 class="lp-card-title">{{ .Title }}</h4>
          <div class="lp-card-text">
            {{ .Content }}
          </div>
        </div>
        
        <ul class="lp-list-group">
          {{ range .Params.links }}
          <li class="lp-list-group-item">
            <a href="{{ .url }}">{{ .name }}</a>
          </li>
          {{ end }}
        </ul>
        
      </div>
    </div>  
  </div>

</body>
</html>  