{{ define "body_classes"}}
list
{{ end }}

{{ define "main" }}

<div class="hero-grid-container">
  <div class="hero-grid_item">
		<h1 class="hero-grid-title">{{ .Title }}</h1>
		<div class="post-teaser">
			<p>{{ .Description | .RenderString }}</p>
		</div>
	</div>
	<div class="hero-grid_item">
    {{ partial "featured-image" . }}
  </div>
</div>

<section class="inner">

  {{ with .Content }}
  <div class="post-content">
    {{ . }}
  </div>
  {{ end }}

  <div class="feed">
  {{ $pages := where site.RegularPages.ByDate.Reverse "Type" "in" site.Params.mainSections }}   
  {{ if (in site.Params.mainSections .Section) }}
    {{ if .Params.pin_post  }}
      {{ range first 1 (.Paginate $pages).Pages }}
        {{ .Render "summary" }}
      {{ end }}
      <ul class="archive">
      {{ range after 2 (.Paginate $pages).Pages }}
        {{ .Render "li" }}
      {{ end }}
      </ul>
    {{ else }}
    {{ range (.Paginate $pages).Pages }}    
      {{ .Render "summary" }}
    {{ end }}{{ end }}
  {{ else if (in .Section "newsletter") }}
  {{ $pages = where site.RegularPages.ByDate.Reverse "Type" "in" "newsletter" }}
    {{ range (.Paginate $pages).Pages }}
      {{ .Render "summary" }}
    {{ end }}
  {{ else }}  
    <ul class="archive">
    {{ range (.Paginate .Pages).Pages }}
      {{ .Render "li" }}
    {{ end }}
    </ul>
  {{ end }}
  
  {{ template "_internal/pagination.html" . }}

  </div>
  
</section>
{{ end }}
