{{ define "body_classes"}}
single
{{ end }}

{{ define "main" }}
{{- if or (in site.Params.mainSections .Section) (in .Section "newsletter") }}
<progress class="reading-progress" value="0" max="100" aria-label="Reading progress"></progress>
{{- end }}

{{/*  {{ partial "optin-header.html" . }}  */}}

<article class="post {{ .Kind }} {{ .Type }}">

  <header class="post-header">
    {{ if or (in site.Params.mainSections .Section) (in .Section "newsletter") }}
    <p class="post-meta"><time datetime="{{ dateFormat "2006-01-02" .Date }}">{{ dateFormat "2006.01.02" .Date }}</time></p>
    {{ end }}
    <h1 class="post-title">{{ .Title }}</h1>
  </header>

  <div class="post-teaser">
    {{ if or (in site.Params.mainSections .Section) (in .Section "newsletter") }}
    {{ $readTime := cond (gt .ReadingTime 1) "minutes" "minute" }}    
    <p class="post-teaser__rtime">{{ .ReadingTime }} {{ $readTime }} read</p>
    {{ end }} 
    {{with .Description }}<p>{{ . | $.RenderString }}</p>{{end}}
  </div>

  {{- if and (gt .WordCount 400 ) (ge (len .TableOfContents) 100) (ne .Params.toc false) }}
  {{ .TableOfContents }}
  {{- end }}

  {{ partial "featured-image" . }}

  <div class="post-content">
    {{ .Content }}
  </div>

  <footer class="post-footer">
    {{ if in site.Params.mainSections .Section }}
      {{ partial "related" . }}
      {{ partial "post-share" . }}
    {{ else if in .Section "newsletter" }}
      {{ partial "post-share" . }} 
      <h3>{{ site.Data.newsletter.cta | default "If you liked this, I'll send you more. Enter your email here 👇" }}</h3>
      {{ partial "emailoptin" . }}
    {{ end }}
   
  </footer>

</article>  
{{ end }}
