<!DOCTYPE html>
<html {{ with site.LanguageCode | default site.Language.Lang }}lang="{{ . }}"{{ end }}>
{{- partial "head.html" . -}}
<body>

<div class="splash-container">

  <div class="hero-grid-container">
    <div class="hero-grid_item">
      <h1 class="hero-grid-title">{{ with site.Data.newsletter.headline | default .Title }}{{.}}{{end}}</h1>
      <div class="post-teaser">
        <p>{{ with site.Data.newsletter.subheadline | default .Description }}{{.}}{{end}}</p>
      </div>
      {{ with site.Data.newsletter.body }}
      <div class="hero-grid-content">
        {{ . | $.RenderString }}
      </div>
      {{ end }}
      {{ partial "emailoptin" . }}
      <a class="button maybe-later" href="{{ ref . "_index.md" }}">
        Not yet, let me read it first › 
      </a>
    </div>
    <div class="hero-grid_item">
      {{ partial "featured-image" . }}
    </div>
  </div>

</div>

{{ partial "footer.html" . }}    

</body>
</html>