<article class="archive__item">
  <h2 class="archive__title">
    <a class="archive__link" href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a>
  </h2>
  {{- $readTime := cond (gt .ReadingTime 1) "minutes" "minute" }}
  <p class="archive__date"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ dateFormat "2006.01.02" .Date }}</time> · {{ .ReadingTime }} {{ $readTime }} to read</p>
</article>