/* TO DO: Get a proper dark mode palette */
$color-map: (
 site-primary-color: #2A2A72,
 site-secondary-color: #009FFD,
 site-tertiary-color: #FFA400,
 site-quaternary-color: #232528,
 site-quinary-color:  #EAF6FF,
 site-info-color:  #009FFD,
 site-alert-color:  #AD343E,
 site-success-color:  #5cb85c,
 site-warning-color:  #FFA400,
 site-base-white-color: #FCFDFF
);