// BerserkerMail form styles

input,
button {
  font-size: var(--font-size);
  line-height: var(--lh);
  box-sizing: border-box;
}

form {
  display: block; 
  margin: 0 auto;
  max-width: 36rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25rem;
  width: 100%;
  background: var(--color-bg);

  img {
    height: 0;
  }

  input[type="text"] {
    background: var(--color-bg, #fff);
    color: var(--color-text, #000);  
    height: 3rem;
    border: 1px solid var(--color-text);
    border-radius: 0;
    font-size: 1em;
    line-height: 3rem;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
    white-space: normal;
  }

  button[type="submit"] {
    padding: 0 1rem;
    cursor: pointer;
    flex-shrink: 0;
    margin-top: 1rem;
    height: 3rem;
    background: var(--color-accent);
    border: 1px solid var(--color-bg);
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
    color: var(--color-bg);
    width: 100%;
    white-space: nowrap;
  }
}

@media only screen and (min-width: 767px) {
  form  {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.1);  
    border-radius: 4px;
  
    input[type="text"] {  
      border: 1px solid var(--color-bg);
    }

    button[type="submit"] {
      width: auto;
      margin-left: 1rem;
      margin-top: 0;
    }
  }
}