/* Background */
.lp-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* Background Blur */
.lp-background-blur {
  // background-image: url("path/to/image");
  background-size: cover;
  filter: blur(10px);
  width: 100%;
  height: 100%;
  transform: scale(1.2);
}

/* Container */
.lp-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 1rem;
}

.lp-space {
  margin: 50px auto;
}

/* Card */
.lp-card {
  max-width: 350px;
  margin: 0 auto;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

/* Card Top */
.lp-card-top {
  position: relative;
  max-width: 350px;
}

/* Card Body */
.lp-card-body {
  padding: 1rem;
  background-color: #2e2e2e;
}

.lp-card-title, 
.lp-card-text {
  color: #fff;
}

/* List Group */
.lp-list-group {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;  
}

/* List Group Item */
.lp-list-group-item {
  padding: 0.5rem 1rem;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  border: none;
  background-color: #fff;
  color: #2e2e2e;
  display: block;
  width: 100%;
}