// https://github.com/lowtechmag/solar/blob/master/solar/static/css/style.scss

#menu-button {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  // margin-top: .25rem;

  &:hover {
    cursor: pointer;
  }
}

#menu-list {
  height: 0;
  overflow: hidden;
  transition: height 300ms ease-in-out;
}

#menu-list.show {
  // height: 240px;
  height: auto;
}

#menu {
  ul {
    display: block;
  }
  li {
    display: block;
    margin: calc(var(--lh) / 2) 0;
  }
  li::after,
  li:last-child::after {
    content: "";
  }
  li.social {
    margin-left: -0.25rem;
  }
}

@media screen and (min-width: 767px) {
  #menu-button {
    display: none;
  }

  #menu-list {
    height: inherit;
    overflow: initial;

    &.show {
      height: inherit;
    }
  }

  #menu {
    ul {
      display: flex;
    }
    .category {
      margin: 0;
    }
    li {
      display: inline-block;
      margin: 0;
    }
    li::after {
      content: "";
    }
    li:last-child::after {
      content: "";
    }
  }
}
