/* Intro Popup on home page */

html.show-intro-popup {
  overflow: hidden;
}

.has-intro-popup.show-intro-popup body {
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.intro-popup,
.intro-popup .intro-popup-page {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.intro-popup {
  display: block;
  z-index: 1000000;
  position: fixed;
  right: 0;
  bottom: 0;
  background: #fff;
  color: #000;
  text-align: center;
  cursor: default;
}

.has-intro-popup .intro-popup {
  box-shadow: 0 0 10vh rgba(0, 0, 0, 0.1);
  transform: translateY(110vh);
  transition: transform 0.3s ease-in;
}

.has-intro-popup.show-intro-popup .intro-popup {
  transform: translateY(0);
}

.intro-popup .intro-popup-page {
  position: absolute;
  z-index: 1000002;
  overflow-y: auto;
  transform: translateX(0);
}

.show-intro-popup .intro-popup .intro-popup-page {
  transition: transform 0.3s ease-in-out;
}
.intro-popup .intro-popup-page > div,
.intro-popup .intro-popup-page > div .vertically-centred {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
}
.intro-popup .intro-popup-page > div .vertically-centred {
  height: 100%;
  width: 100%;
}
.intro-popup .full-email-form .button {
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  text-align: center;
  padding: 10px 20px;
  margin: 0;
  background-color: transparent;
  opacity: 1;
  outline: 0;
  text-decoration: none;
  white-space: nowrap;
}
.intro-popup .full-email-form .close-welcome-modal {
  fill: #53484b;
  stroke: #53484b;
  padding: 0;
  height: 20px;
  position: absolute;
  top: 27px;
  right: 27px;
}
.intro-popup .full-email-form .publication-logo {
  display: block;
  margin: 0 auto 32px;
  width: 84px;
  height: 84px;
  border-radius: 8px;
  flex-shrink: 0;
}
.intro-popup .full-email-form .publication-cover-photo {
  display: block;
  margin: 0 auto 32px;
  height: 35vh;
  object-fit: contain;
  min-width: 268px;
  max-width: 680px;
  max-height: 680px;
}
@media (min-height: 550px) {
  .intro-popup .full-email-form .publication-cover-photo {
    min-height: 168px;
  }
}

.intro-popup .full-email-form .publication-name {
  margin: 0 auto 8px;
  max-width: 450px;
  font-family: var(--font-sans);
  font-weight: bold;
  font-size: 24px;
  font-weight: 700;
  color: var(--color-text);
  text-align: center;
}

.intro-popup .full-email-form .publication-name.with-cover {
  margin-top: 2px;
}

.intro-popup .full-email-form .publication-tagline.verbose {
  margin: 0 auto;
}
.intro-popup .full-email-form .publication-tagline.with-cover {
  max-width: 380px;
  margin-top: 4px;
}
.intro-popup .full-email-form .publication-meta,
.intro-popup .full-email-form .publication-text {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  letter-spacing: -0.012em;
  color: var(--color-text);
}
.intro-popup .full-email-form .publication-meta {
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 32px;
  margin-top: 8px;
  font-weight: 600;
}
.intro-popup .full-email-form .form {
  display: block;
  margin: 0 auto;
  max-width: 36rem;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 0.25rem;
  width: 100%;

  input[type="text"] {
    background: var(--color-bg, #fff);
    color: var(--color-text, #000);
    height: 3rem;
    border: 1px solid var(--color-text);
    border-radius: 0;
    font-size: 1em;
    line-height: 3rem;
    padding: 0 1rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0;
  }

  .button {
    flex-shrink: 0;
    margin-top: 1rem;
    height: 3rem;
    padding: 10px 18px;
    background: var(--color-accent);
    border: 1px solid var(--color-bg);
    border-radius: 4px;
    font-size: 1em;
    font-weight: bold;
    color: var(--color-bg);
    width: 100%;
    white-space: nowrap;
  }
}
@media only screen and (min-width: 767px) {
  .intro-popup .full-email-form .form {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;

    input[type="text"] {
      border: 1px solid var(--color-bg);
    }

    .button {
      width: auto;
      margin-left: 1rem;
      margin-top: 0;
    }
  }
}

.intro-popup .full-email-form .maybe-later {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto 0;
  background: 0 0;
  border: 0;
  font-family: var(--font-sans);
  font-size: 14px;
  font-weight: 600;
  color: var(--color-text-light);
  cursor: pointer;
}

.intro-popup .full-email-form .maybe-later svg {
  vertical-align: middle;
  margin-left: 8px;
  height: 18px;
  stroke: var(--color-text-light);
  stroke-width: 2px;
}
.intro-popup .full-email-form .tos {
  display: block;
  width: 100%;
  position: fixed;
  bottom: 15px;
}


/* Exit Intent Popup */

.exit-intent-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(33, 33, 33, 0.8);
  transform: translateY(60%) scale(0);
  transition: transform 0.3s cubic-bezier(0.4, 0.0, 0.2, 1);
}

.exit-intent-popup.visible {
  transform: translateY(0) scale(1);
}

.exit-intent-popup__form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Popup-specific styles */
.exit-intent-popup__form {
  background: var(--color-bg);
  padding: 1em;
  border-radius: 2px;

  h2 { padding-top: 15px; }

  .close {
    position: absolute;
    top: 0px;
    right: 10px;
    cursor: pointer;
    width: 20px;    
  }

  .button {
    display: inline-block;
    box-sizing: border-box;
    fill: #53484b;
    stroke: #53484b;
    border: 0;
    border-radius: 4px;
    text-align: center;
    padding: 10px 20px;
    margin: 0;
    background-color: transparent;
    opacity: 1;
    outline: 0;
    text-decoration: none;
    white-space: nowrap;
  }
}