.post-content {
  margin: 3em 0 1em;
  padding: 1em 0;
}

.reading-progress {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 5px; /* Progress bar height */
  background: #c5d2d9; /* Progress bar background color */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; /* Hide default progress bar */

  &::-webkit-progress-bar {
    background-color: transparent;
  }

  &::-webkit-progress-value {
    background: var(--color-accent); /* Progress bar color */
  }
}

.optin-header {
  padding: 1rem;
  background: lightgoldenrodyellow;
  margin-bottom: 4rem;
}


.post-meta,
.post-teaser__rtime {
  font-family: var(--font-code);
  letter-spacing: var(--font-letter-spacing);
  font-size: var(--font-size-small);
  color: var(--color-text-light);
  margin: 0 0 1em;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

.post-title {
  font-size: 2.25rem;
  padding-top: 0;
  line-height: 1.15;
  display: flex;
  flex-direction: column;
}

.post-teaser {
  font-size: 1.5rem;
}

.post-footer {
  margin: 0 auto;
}

@media (min-width: 768px) {
  .post-title {
    font-size: 4.375rem;
  }
}

.post-share {
  margin-bottom: 1em;

  .post-share__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a {
      font-size: 0.9rem;
    }
  }
}

@media (min-width: 768px) {
  .post-share .post-share__links {    
    flex-direction: row;
  }  
}

#TableOfContents {
  ul {
    li {
      ul {
      }

      a {
      }
    }
  }
}