.accordion {
  width: 100%;
  overflow: hidden;
  margin-top: 1em;
  background-color: var(--color-bg);
  border: 1px solid var(--color-text);
  transition: all 0.25s ease-out;

  &__intro {
    position: relative;
    padding: 1em;
    cursor: pointer;
    background-color: var(--color-bg);
  }

  &__content {
    padding: 0 1em;
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.25s ease-out;
    color: var(--color-text);
    opacity: 0;
  }

  h4,
  p {
    margin: 0;
    line-height: 1;
  }

  h4 {
    color: var(--color-text);
    font-size: 1.45em;
    padding-top: 0;
    transition: all 0.25s ease-out;
  }

  p {
    color: var(--color-text);
    margin: 0;
  }

  &__active {
    border: 1px solid var(--color-bg);

    .accordion__intro {
      background-color: var(--color-text);
    }

    h4 {
      color: var(--color-bg);
    }

    .accordion__content {
      padding: 1em 1em 2em;
      opacity: 1;
    }
  }
}

/* Inline email optin form */
.optin {  
  display: block;
  padding: 2rem;
  margin-bottom: 2em;
  background-color: ivory;
  /* gainsboro, ghostwhite, ivory, lemonchiffon, lightyellow, whitesmoke */
  border: 1px solid var(--color-accent);

  &__content {}

  &__form {
    padding: 0;
  }

  h4 { 
    font-size: 1.45em;
    padding-top: 0; }

  p { }
}