* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-size: var(--font-size);
  line-height: var(--lh);
  font-family: var(--font-family-body);
  color: var(--color-text);
  background: var(--color-bg);
  min-height: 100vh;
}

a {
  color: var(--color-link);
  word-wrap: break-word;

  &:hover {
    color: var(--color-text);
  }
}

p {
  margin: 0 0 var(--lh);
  letter-spacing: var(--font-letter-spacing);
  font-family: var(--font-family-body);
}

ul, ol {
  margin: 0 0 var(--lh) var(--lh);
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1em;
  padding: 1em 0 0;
  line-height: 1.25;
  letter-spacing: var(--font-letter-spacing);
  font-weight: 900;
  font-family: var(--font-family-heading);
}

blockquote {
  border-left-width: 3px;
  border-left-style: solid;
  border-left-color: var(--color-accent);
  padding-left: var(--lh);
  margin: 0 0 var(--lh);

  & cite {
    display: block;
  }
}

hr {
  max-width: 25%;
  border-color: var(--color-accent);
  border-width: 0 0 3px;
  border-style: dashed;
  margin: 3rem auto;
  opacity: 0.6;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  position: relative;
  display: block;
  margin-bottom: 1rem;

  img {
    display: block;
    width: auto;

    &.regular {
      width: auto;
    }
  }

  figcaption {
    font-size: 0.9rem;
  }

  &.caption__shadow {
    width: 100%;

    img {
      width: 100%;
    }
    
    figcaption {
      position: absolute; 
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5rem 1rem 1rem;
      background: linear-gradient(to top, hsla(230, 40%, 5%, 0.95), hsla(230, 40%, 5%, 0));
      color: var(--color-bg);
      font-size: 0.8em;
    }
  }
}