.hero-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  // min-height: 50vh;
}

.hero-grid_item {
  display: flex;
  // justify-content: center;
  flex-direction: column;
}

.hero-grid__button {
  padding: 1rem 2rem;
  background-color: var(--color-accent);
  color: var(--color-bg);
  font-weight: 900;
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero-grid__cta {
    display: flex;
  }
}

.hero-grid-title {
  padding-top: 0; 
}

.hero-grid-content {
  padding-top: 0; 
}

.chooser-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.chooser-grid_block {
  display: block;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--box-shadow);
  background-color: var(--color-bg);
  color: var(--color-text);
  text-decoration: none;
  text-align: center;
  transition: color 0.3s, transform 0.3s !important;

  &:hover {
    transform: translateY(-3px);
    color: var(--color-text-light);
  }

  div { font-size: 2rem; }

}

.splash-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  max-width: var(--container-width);
  margin-inline: auto;
}

// @media (min-width: 768px) {}