.site {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 1rem;

  main {
    max-width: var(--container-width);
    margin-inline: auto;
    margin-top: 2em;
  }
}

.site-header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: var(--container-width);
  margin-inline: auto;

  &__info {
    /*   display: flex;
  flex-direction: column;
  align-items: center; */
  }

  &__title {
    font-size: var(--font-size);
    text-transform: uppercase;
    font-weight: bold;
  }

  &__title a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--color-text);
  }

  &__title,
  &__description {
    margin: 0;
    line-height: var(--lh);
  }

  &__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__nav--list {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: calc(var(--lh) / 2);
    list-style: none;
  }

  &__nav--list-item {
    display: inline-block;
  }
}

.big-header {
  margin: 3em 0;

  &-title {
    font-size: 3rem;
    line-height: 1;
    padding-top: 0;
    max-width: 18ch;
    letter-spacing: -0.025em;
  }
}

@media screen and (min-width: 768px) {
  .site-header {
    padding: calc(var(--lh) * 2) 0;
    gap: var(--lh);

    &__info,
    &__nav {
      flex-direction: row;
    }

    // &__title a::before {
    //   content: "";
    //   width: calc(var(--lh) * 2);
    //   height: calc(var(--lh) * 2);
    //   background-image: url(./images/matt-perryman-96x.jpg);
    //   background-size: 100% 100%;
    //   border-radius: var(--lh);
    //   display: inline-block;
    //   margin-right: calc(var(--lh) / 2);
    // }

    &__description::before {
      content: "/";
      margin-inline: calc(var(--lh) / 4);
    }
  }
  .big-header-title {
      font-size: 5rem;
    }
}


.site-content {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--lh);
}

.site-footer {
  max-width: var(--container-width);
  padding: calc(var(--lh) * 2) var(--lh);
  margin-top: auto;
  margin-inline: auto;
  font-size: 0.8em;
}

/* Lists */

.archive {
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.archive__item {
  padding: 1em 0;
  // margin-bottom: 1em;
  // box-shadow: 0 1px 0 0 var(--color-text-light);
  border-bottom: 1px solid var(--box-shadow);

  &:last-child {
    border-bottom: none;
  }
}
.archive__title {
  padding: 0;
  margin-bottom: 0.5em;
}
.archive__link {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-text);
}
.archive__date {
  margin-bottom: 0.5em;
  font-size: 0.85em;
}

/* Posts */

.inner,
.post {
  margin-bottom: calc(var(--lh) * 3);
  max-width: var(--content-width);
  margin-inline: auto;
}
