:root {
  --font-size: {{ site.Params.fontSizeBase | default "16px" }};
  --font-size-small: {{ site.Params.fontSizeSmall | default "1rem" }};
  --lh: {{ site.Params.lineHeight | default "1.5em" }};  
  --color-text: {{ site.Params.colorText | default "#111" }};
  --color-text-light: {{ site.Params.colorTextLight | default "darkslategray" }};
  --color-bg: {{ site.Params.colorBg | default "#fffff9" }};
  --color-link: {{ site.Params.colorLink | default "#2c3be8" }}; 
  --color-accent: {{ site.Params.colorAccent | default "#2c3be8" }};
  --box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
  --box-shadow-2: 2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
      6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
      12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
      22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
      41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
      100px 100px 80px rgba(0, 0, 0, 0.07)
    ;  
  --font-system: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-sans: 'Helvetica', Arial, sans-serif;
  --font-serif: 'Georgia', serif;
  --font-system-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-code: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  --font-letter-spacing: 0.025em;

  {{- if site.Params.interUIfont }}
  font-family: 'Inter', sans-serif;
  --font-family-body: 'Inter', sans-serif;
  --font-family-heading: 'Inter', sans-serif;
  @supports (font-variation-settings: normal) {
    :root { font-family: 'Inter var', sans-serif;     
            --font-family-body: 'Inter var', sans-serif;
            --font-family-heading: 'Inter var', sans-serif; 
          }
  }
  {{- else }}
  --font-family-body: {{ site.Params.fontFamilyBody | default "var(--font-system)" }};
  --font-family-heading: {{ site.Params.fontFamilyHeading | default "var(--font-system)" }};
  {{- end -}}

  --container-width: 1040px;
  --content-width: 700px;

  --sm: 360px;
  --md: 768px;
  --lg: 960px;
  --xl: 1200px;  
  --xxl: 2000px;
}

/*
.classname {
    @include breakpoint($sm) {
        // declarations
    }
}

:root {
    @include breakpoint($md) {
        --font-size: 1.125rem;
    }
}

*/

@media screen and (min-width: 768px) {
  :root {
    --font-size: 1.125rem; 
  }
}


/* 
@media (prefers-color-scheme: dark) {
  :root {
    --color-text: #e3e1fc; // #F0F0EB;
    --color-bg: #080a72; // #101147;
    --color-link: #d90429;
  }
} 
*/

@import '_base';
@import '_layout';
@import '_grids';

@import 'modules/_nav';
@import 'modules/_post';
@import 'modules/_forms';
@import 'modules/_shortcodes';
@import 'modules/_popup';
@import 'modules/_lander';

/* @import '_state' */
/* @import 'theme/_typography' */