{{/*  Works in Hugo v0.109.0  */}}
<ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList" aria-label="breadcrumbs">
{{- $i := 1 }}
{{- range .Ancestors.Reverse }}
  <li class="" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">         
    <a itemprop="item" href="{{ .RelPermalink }}">
      <span itemprop="name">{{ .Title }}</span>
    </a>        
    <meta itemprop="position" content='{{ $i }}' />
    {{- $i = add $i 1 -}}
  </li>
  <span class="" aria-hidden="true">&raquo;</span>
{{- end }}
  <li class="active" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" aria-current="page">          
    <a itemprop="item" href="{{ .RelPermalink }}" aria-current="location">
      <span itemprop="name">{{ .Title }}</span>
    </a>          
    <meta itemprop="position" content='{{ $i }}' />
  </li>
</ol>
