{{- $images := .Resources.ByType "image" -}}
{{- $featured := $images.GetMatch "*feature*" -}}
{{- if not $featured }}
  {{ $featured = $images.GetMatch "{*cover*,*thumbnail*}" }}
  {{- else }}
  {{- with site.Params.images -}}
    {{ $featured = $images.GetMatch (index . 0 | absURL) }}"
  {{ end }}    
{{ end -}}
{{ with $featured }}
{{- $alt := ($.Params.alt | default $.Page.Title | plainify) }}
{{- $sizes := slice "360" "640" "960" "1280" "1920" }}
{{- $htmlSizes := "(min-width: 1024px) 100vw, 50vw" }}
{{- $filter := "Lanczos" }}
{{- $contentImg := $featured.Resize (print "960x jpg" )  }}
{{- $webp := $featured.Resize (printf "%dx webp" $featured.Width) }}
<figure class="caption__shadow">
  <picture>
    {{- with $webp }}
    <source type="image/webp"
      srcset="{{- with $sizes -}}
  			{{- range $i, $e := . -}}
  				{{- if ge $featured.Width . -}}
  					{{- if $i }}, {{ end -}}{{- ($featured.Resize (print . "x webp")).RelPermalink }} {{ . }}w
  				{{- end -}}
  			{{- end -}}
  		{{- end -}}"
      sizes="{{ $htmlSizes }}"
    />
    {{- end }}
    <source type="image/jpeg"
      srcset="{{- with $sizes -}}
  			{{- range $i, $e := . -}}
  				{{- if ge $featured.Width . -}}
  					{{- if $i }}, {{ end -}}{{- ($featured.Resize (print . "x jpg " $filter) ).RelPermalink }} {{ . }}w
  				{{- end -}}
  			{{- end -}}
  		{{- end -}}"
      sizes="{{ $htmlSizes }}"
    />
    <img 
      src="{{ $contentImg.RelPermalink }}"
      alt="{{ $alt }}" 
      title="{{ $alt }}"
      loading="lazy"
    />
  </picture>
  {{- with $.Params.caption }}
  <figcaption>{{ . }}</figcaption>
  {{- end -}}
</figure>
{{ end }}