<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{- block "title" . }}
  {{ $title := .Title | $.RenderString }}  
  <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s - %s" $title site.Title }}{{ end }}</title>
  {{- end }}
 
  {{/*  Styles  */}}
  {{ $options := (dict "targetPath" "style.css" "outputStyle" "nested" "enableSourceMap" (not hugo.IsProduction) ) }}
  {{- $css := resources.Get "css/style.css" | resources.ExecuteAsTemplate "style.css" . | toCSS $options -}}
  {{ if hugo.IsProduction }}
    {{ $css = $css | minify | fingerprint | resources.PostProcess }}
    <link rel="stylesheet" href="{{ $css.Permalink }}" integrity="{{ $css.Data.Integrity }}" crossorigin="anonymous">
  {{ else }}
  <link rel="stylesheet" href="{{ $css.Permalink }}">
  {{ end }}

  {{- if site.Params.interUIfont }}
  <link rel="preconnect" href="https://rsms.me/">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  {{- end }}

  {{/*  Metadata  */}}
  {{- $desc := .Description | $.RenderString }}
  {{- if .IsHome }}{{ $desc = site.Params.Description }}{{ end }}
  <meta name="description" content="{{ $desc }}" />
  <link rel="canonical" href="{{ .Permalink }}">

  {{ partial "head/opengraph.html" . }}
  {{ partial "head/twitter_cards.html" . }}
  {{ partial "head/json-schema" . }}
  {{ partial "head/json-breadcrumb" . }}

  {{/*  Feeds  */}}
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{ end -}}

  {{- if and site.Params.googleFontsUrl site.Params.enableGoogleFonts }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="{{ site.Params.googleFontsUrl }}" as="style">
    <link href="{{ site.Params.googleFontsUrl }}" rel="stylesheet">
  {{- end }}

  {{/*  Icons  */}}
  {{- $iconpath     := site.Params.icon }}
  {{- with $iconpath }}
  {{- $original := resources.Get $iconpath  }}
  {{- $png16   := $original.Fit "16x16 png" }}
  <link rel="icon" type="image/png" sizes="16x16" href="{{ $png16.RelPermalink | relURL }}">
  {{- $png32   := $original.Fit "32x32 png" }}
  <link rel="icon" type="image/png" sizes="32x32" href="{{ $png32.RelPermalink | relURL }}">
  {{ end }}

  {{ if .HasShortcode "calendly" }}
  {{- block "calendly-css" . }}{{ end -}}
  {{ end }}
  
  {{- if .IsHome }}
  {{- hugo.Generator }}
  {{- end }}
</head>