<header class="site-header">
  {{- if or 
    (and (.IsHome) (eq .Params.big_head false)) 
    (not .IsHome) 
  -}}
  
  <div class="site-header__info">
    <div class="site-header__title">
      <a href="{{ site.Home.Permalink }}">{{ site.Title }}</a>
    </div>
{{/*      {{ with site.Params.Description}}
    <div class="site-header__description">{{.}}</div>
    {{ end }}  */}}
  </div>
  {{ end }}
  <nav id="menu" class="site-header__nav">
    <div id="menu-button">
      <span class="menu-icon">𑁔 menu</span>
    </div>
    <ul id="menu-list" class="site-header__nav--list">
      {{ $current := . }}
      {{ range site.Menus.main }}
      {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq .Name $current.Title) }}
      <li class="site-header__nav--list-item">
        <a class="{{if $active }}active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
