{{- if or (in site.Params.mainSections .Section) (in .Section "newsletter") }}
<script>
(function () {  
  const progressBar = document.querySelector('.reading-progress');
  if (!progressBar) return;

  function updateProgress() {
    const totalHeight = document.documentElement.scrollHeight;
    const windowHeight = document.documentElement.clientHeight;
    const position = window.scrollY;
    const progress = position / (totalHeight - windowHeight) * 100;
    progressBar.setAttribute('value', progress);
    requestAnimationFrame(updateProgress);
    // console.log( { totalHeight, windowHeight, position, progress } );
  }

  requestAnimationFrame(updateProgress);
})();
</script>
{{- end }}
{{ if .HasShortcode "quoteback" }}
{{- block "quoteback-js" . }}{{ end -}}
{{ end }}
{{ if .HasShortcode "calendly" }}
{{- block "calendly-js" . }}{{ end -}}
{{ end }}

{{ $jsfiles := resources.Match "**.js" }}
{{ $js := $jsfiles | resources.Concat "js/main.js" }}
{{/*  
{{ $menuToggle := resources.Get "js/mobile-menu.js" }}
{{ $overlay := resources.Get "js/overlay.js" }}
{{ $popup := resources.Get "js/popup.js" }}
{{ $accordion := resources.Get "js/accordion.js" }}
{{ $js := slice $menuToggle $overlay $popup $accordion | resources.Concat "js/main.js" }}  */}}
{{- if hugo.IsProduction | or (eq site.Params.env "production") }}
<script type="text/javascript" defer src="{{ ($js | minify | fingerprint).RelPermalink }}"></script>
{{ else }}
<script type="text/javascript" defer src="{{ $js.RelPermalink }}"></script>
{{ end }}