<div class="intro-popup default-intro-popup">
  <div class="intro-popup-page">
    <div class="full-email-form">
      <div class="vertically-centred">
        <button aria-label="Close" class="button close-welcome-modal">
          <svg
            role="img"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            stroke-width="1"
            stroke="#666666"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <title></title>
              <path
                d="M15 5L5 15"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M5 5L15 15"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
        </button>

        {{ with site.Params.logo }}
        <picture>
          {{- $img := (.Resources.ByType "image").GetMatch (printf "*%s*" (site.Params.logo)) }}
          {{- $alt := (site.Params.logo.alt | default .Title | plainify) }}
          {{- with $img }}
          {{- $sizes := (slice "360" "720" "960" "1200" "2000")}}
          <img
            srcset="{{- range $size := $sizes -}}
                    {{- if (ge $img.Width $size) -}}
                    {{ printf "%s %s" (( $img.Resize (printf "%sx" $size)).Permalink) (printf "%sw ," $size) -}}
                    {{ end }}
                    {{- end -}}"
            sizes="(min-width: 768px) 720px 100vw, 1200px"
            src="{{ ($img.Resize "360x").RelPermalink | safeURL }}" 
            alt="{{ $alt }}" 
          >
          {{ end }}
        </picture>
        {{ end }}

        <h1 class="publication-name with-cover{{ if ne site.Params.logo true }} no-logo{{ end }}">{{ site.Title }}</h1>
        <p class="publication-tagline with-cover verbose">
          {{ site.Params.Description }}
        </p>

        <div class="publication-meta">
          {{ with site.Data.author.name }}By {{.}}{{ end }}
        </div>

        <form
          id="form"
          action="https://api.berserkermail.com/contact/form"
          method="post"
          class="form"
        >
          <img
            alt="view pixel"
            src="https://api.berserkermail.com/form/pixel/6272248fbcab355c1abfcfcb"
          />

            <input
              type="text"
              placeholder="Enter your best email"
              name="email"
              id="email"
              required
              pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z0-9.-_]{2,}[.]{1}[a-zA-Z]{2,}"
              title="Please, insert a valid email address."
            />
            <input
              style="
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                height: 0;
                width: 0;
                z-index: -1;
              "
              type="text"
              name="username"
              autocomplete="off"
            />
            <input
              type="hidden"
              name="formId"
              id="formId"
              value="6272248fbcab355c1abfcfcb"
              required
            />
            <button type="submit" class="button">
              <span class="button-text">Yes, I want to join!</span>            
            </button>

        </form>
        
        <button class="button maybe-later" type="button" tabindex="0">
          Let me read it first
          <svg
            role="img"
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="none"
            stroke-width="1"
            stroke="#000"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <title></title>
              <path
                d="M7.5 15L12.5 10L7.5 5"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </g>
          </svg>
        </button>        

        <div class="tos">
          By registering you agree to our
          <a href="/tos" target="_blank"
            >Terms of Service</a
          > and our
          <a href="/privacy" target="_blank"
            >Privacy Policy</a
          >.
        </div>
      </div>
    </div>
  </div>
</div>
