<div class="exit-intent-popup">
  <div class="exit-intent-popup__form">
      <h2>Want to get updates to your mailbox? 📬</h2>
      <p>Subscribe to our newsletter!</p>      
      {{ partial "emailoptin" . }}
      
      <button aria-label="Close" class="button close">
        <svg
          role="img"
          width="20"
          height="20"
          viewBox="0 0 20 20"
          fill="none"
          stroke-width="1"
          stroke="#666666"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g>
            <title></title>
            <path
              d="M15 5L5 15"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
            <path
              d="M5 5L15 15"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></path>
          </g>
        </svg>
      </button>

  </div>
</div>