{{ if not .IsHome }}
<aside class="optin-header">
  <div class="hero-grid-container">
    <div class="hero-grid_item">
      <h2 class="hero-grid-title">{{ with site.Data.optin.headline | default .Description }}{{.}}{{end}}</h2>
      {{ with site.Data.optin.teaser }}
      <div class="post-teaser">
        <p>{{.}}</p>
      </div>
      {{end}}
      {{ with site.Data.optin.body }}
      <div class="hero-grid-content">
        {{ . | $.RenderString }}
      </div>
      {{ end }}
{{/*        {{ with site.Data.optin.url }}
      <a class="hero-grid__button" href="{{ . }}">Yes, I want in!</a>
      {{ end }}  */}}
      {{ partial "emailoptin.html" . }}
    </div>
    <div class="hero-grid_item">
      {{ with site.Data.optin.image }}
      {{- $img := (.Resources.ByType "image").GetMatch (printf "*%s*" (site.Data.optin.image.src)) }}
      {{- $alt := (site.Data.optin.image.alt | default .Title | plainify) }}
      {{- with $img }}        
      <div class="hero-featured-image">
        {{- $sizes := (slice "360" "720" "960" "1200" "2000") }}
        <figure>
          <img        
            srcset="{{- range $size := $sizes -}}
                    {{- if (ge $img.Width $size) -}}
                    {{ printf "%s %s" (( $img.Resize (printf "%sx" $size)).Permalink) (printf "%sw ," $size) -}}
                    {{ end }}
                    {{- end -}}"
            sizes="(min-width: 800px) 50vw, 800px"  
            src="{{ ($img.Resize "360x").RelPermalink | safeURL }}" 
            alt="{{ $alt }}"          
          >
          {{- with site.Data.optin.caption }}
          <figcaption>{{ . }}</figcaption>
          {{- end -}}
        </figure>
      </div>
      {{- end -}}
      {{ end }}
    </div>
  </div>
</aside>
{{ end }}