<div class="post-share">
  <h3>Share this post</h3>
  {{- $twitter := site.Social.twitter }}
  {{- $pinterest := "" }}
  {{- $image := $.Resources.ByType "image" }}
  {{- $featured := $image.GetMatch "*feature*" -}}  
  {{- if not $featured }}
    {{ $featured = $image.GetMatch "{*cover*,*thumbnail*}" }}
  {{- else }}
    {{- with site.Params.images -}}
    {{ $featured = $image.GetMatch (index . 0 | absURL) }}"
    {{ end }}    
  {{ end -}}
  {{- with $featured -}}
    {{ $pinterest = $featured.Permalink }}
  {{- end -}}
  <div class="post-share__links">
    <a class="share-link" href="{{ .Permalink }}">Copy Link</a>
    <a class="share-twitter" href="https://twitter.com/intent/tweet?url={{ .Permalink | safeURL }}&text={{ .Title }}{{ with $twitter }}&via={{ . }}{{ end }}" rel="external noopener noreferrer" target="_blank">Twitter</a>
    <a class="share-pinterest" href="https://www.pinterest.com/pin/create/button/?url={{ .Permalink | safeURL }}&description={{ .Title }}{{ with $pinterest }}&media={{ . | safeURL }}{{ end }}" rel="external noopener noreferrer" target="_blank">Pinterest</a>
    <a class="share-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ .Permalink | safeURL }}&title={{ .Title }}" rel="external noopener noreferrer" target="_blank">LinkedIn</a>
    <a class="share-reddit" href="https://reddit.com/submit?url={{ .Permalink | safeURL }}&title={{ .Title }}" rel="external noopener noreferrer" target="_blank">Reddit</a>
    <a class="share-whatsapp" href="whatsapp://send?text={{ .Permalink | safeURL }}" rel="external noopener noreferrer" target="_blank">Whatsapp</a>
    <a class="share-telegram" href="https://t.me/share/url?url={{ .Permalink | safeURL }}&text={{ .Title }}" rel="external noopener noreferrer" target="_blank">Telegram</a>
    <a class="share-email" href="mailto:?subject=RE: {{ .Title}}&body=I thought you would like this: {{ .Permalink | safeURL }}" target="_blank">Email</a>
  </div>
</div>