{{ with .GetTerms "topics" }}
<div class="post-meta">Read more posts about  
  {{ range . }}
  <a class="post-topic" href="{{ .Permalink }}" title="Read more posts about {{ .LinkTitle }}" rel="category">{{ .LinkTitle }}</a>
  {{ end }}
</div>
{{ end }}
{{ $related := site.RegularPages.RelatedIndices . "topics" "series" | first 3 }}    
{{ with $related }}
<div class="related-posts">
<h3>You might also want to read these:</h3>
<ul>
  {{ range . }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </li>
  {{ end }}
</ul>
</div>
{{ end }}