{{ define "main" }}

<section class="inner error-content">
  
  <div class="error-message">
      <h1 class="error-code">{{ .Title }}</h1>
      <p class="error-description">{{ .Description }}</p>
      <a class="error-link" href="{{ site.BaseURL }}">Go to the front page →</a>
  </div>
  
</section>

{{/* Given that people landing on this page didn't find what they
were looking for, let's give them some alternative stuff to read. */}}
<aside class="read-more-wrap outer">
  <div class="read-more inner">
      {{/*  Get 3 latest posts  */}}
      {{ $feed := where site.RegularPages.ByDate.Reverse "Type" "in" site.Params.mainSections }}
      <ul class="archive">      
      {{ range first 3 $feed }}        
          {{ .Render "li" }}
      {{ end }}
      </ul>
  </div>
</aside>
{{ end }}