{{/*  This receives the resources from the render-image hook and processes it for the picture element.  */}}
{{- $r := .resource -}}
{{- $attrs := .attributes -}}
{{- $alt := $attrs.alt -}}
{{- $title := $attrs.title -}}
{{- $src := $attrs.src -}}
<picture>
  {{- $avif := replace $r (or "jpg" "png") "avif" }}
  {{- $avif = .Page.Resources.GetMatch (printf "%s" $avif) }}
  {{- with $avif -}}
    <source srcset="{{ .RelPermalink }}" type="image/avif" />
  {{- end }}  
  {{- $webp := $r.Resize (printf "%dx webp" $r.Width ) }}  
  {{- with $webp }}
    {{- $attrs = merge $attrs (dict "src" .RelPermalink "width" (string .Width) "height" (string .Height)) }}  
    <source srcset="{{ .RelPermalink }}" type="image/webp" />
  {{- end }}
  {{- $jpg := $r.Resize (printf "%dx jpg photo" $r.Width) }}
  {{- with $jpg }}
    {{- $attrs = merge $attrs (dict "src" .RelPermalink "width" (string .Width) "height" (string .Height)) }} 
    <source srcset="{{ $jpg.RelPermalink }}" type="image/jpeg" />
  {{- end }}  
    <img
      id="{{ $attrs.id }}"
      src="{{ $attrs.src }}"
      {{ with $alt }}alt="{{ . }}" {{ end }}
      {{ with $title }}title="{{ . }}" {{ end }}
      height="{{ $attrs.height }}"
      width="{{ $attrs.width }}"
      loading="lazy"
      decoding="async"
    />

    {{- /* Render image element. */ -}}
    {{/*  <img
    {{- range $k, $v := $attrs }}
      {{- if or $v (eq $k "alt") }}
        {{- printf " %s=%q" $k $v | safeHTMLAttr }}
      {{- end }}
    {{- end -}}
    >  */}}
    {{- /**/ -}}

</picture>
