{{- $title := cond .IsNamedParams (.Get "title") (.Get 0) }}
<div class="accordion">
	<div class="accordion__intro">
  {{- with $title }}    
		<h4>{{ . }}</h4>
  {{- end }}
	</div>
	<div class="accordion__content">
		{{ .Inner | $.Page.RenderString (dict "display" "block") }}
	</div>
</div>
