{{- $classes := cond .IsNamedParams (.Get "classes") (.Get 0) }}
{{- $cite := cond .IsNamedParams (.Get "cite") (.Get 1) }}
{{- $url := cond .IsNamedParams (.Get "url") (.Get 2) }}
<blockquote class="blockquote{{ with $classes }} {{.}}{{end}}"{{ with $url }} cite="{{.}}"{{end}}>
  {{ .Inner | $.Page.RenderString (dict "display" "block") }}
  {{- with $cite }}
  <cite>{{.}}</cite>
  {{- end }}
</blockquote>
