{{- define "calendly-css" }}
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
{{ end -}}
{{- define "calendly-js" }}
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
{{ end -}}

{{- $calendar := cond .IsNamedParams (.Get "calendar") (.Get 0) }}
{{- $text := "" }}
{{ with .Inner }}
  {{- $text = .  }}
{{ else }}
  {{ if not $text }}
  {{- $text = (cond .IsNamedParams (.Get "text") (.Get 1)) | default "Click here to book your call" }}
  {{ end }}
{{ end }}
{{- $type := (cond .IsNamedParams (.Get "type") (.Get 2)) | default "popupLink" }}
{{- $username := site.Params.calendly.username }}
{{- $calendarURL := "https://calendly.com" }}
{{- $calendlyLink := (printf "%s/%s/%s" $calendarURL $username $calendar) | safeJS }}

{{ if eq ($type) ("inlineEmbed") }}
  <div class="calendly-inline-widget" data-url="{{ $calendlyLink }}" style="min-width:320px;height:630px;"></div>
{{ else if eq ($type) ("popupWidget") }}
  <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: '{{ $calendlyLink }}', text: 'Schedule time with me', color: '#0069ff', textColor: '#ffffff', branding: true }); }</script>
{{ else if or (eq $type "popupLink") (eq $type "") }}
  <p>    
    {{ printf `<a href="" onclick="Calendly.initPopupWidget({url: '%s'});return false;">%s</a>` $calendlyLink $text | safeHTML }}
  </p>
{{ end -}}
