{{- $img := ($.Page.Resources.ByType "image").GetMatch (.Get 0) }}
{{- $sizes := (slice "360" "720" "960" "1200" "2000") }}
{{- $360 := .Resize "360x" }}
{{- $720 := .Resize "720x" }}
{{- $960 := .Resize "960x" }}
{{- $1200 := .Resize "1200x" }}
{{- $2000 := .Resize "2000x" }}
{{- with $img }}
<picture>
  {{- $avif := replace (.Get 0) (or "jpg" "png") "avif" }}
  {{- $avif = $.Page.Resources.GetMatch (printf "%s" $avif) }}
  {{- with $avif -}}
    <source srcset="{{ .RelPermalink }}" type="image/avif" />
  {{- end }}
  {{- $webp := $img.Resize (printf "%dx%d webp q75" $img.Width $img.Height ) }}
  {{- with $webp }}
    <source srcset="{{ .RelPermalink }}" type="image/webp" />
  {{- end }}
  <img
  srcset="{{ $360.RelPermalink }} 360w,
          {{ $720.RelPermalink }} 720w,
          {{ $960.RelPermalink }} 960w,
          {{ $1200.RelPermalink }} 1200w,
          {{ $2000.RelPermalink }} 2000w
          {{- range $size := $sizes -}}          
          {{ printf "%s %s" (( $img.Resize (printf "%sx" $size)).Permalink) (printf "%sw, " $size) -}}
          {{- end -}}"    
  sizes="(min-width: 1200px) 100vw, 50vw"             
  src="{{ .RelPermalink }}" 
  alt="{{ with .Get 1 }}{{ . | default $.Page.Title }}{{ end }}" 
  height="{{ .Height }}" 
  width="{{ .Width }}"    
  >
</picture>
{{- end -}}
