{{- $title := cond .IsNamedParams (.Get "title") (.Get 0) }}
<div class="optin">
  {{- with $title }}
		<h4>{{ . }}</h4>
  {{- end }}
  {{- with .Inner }}
	<div class="optin__content">
		{{ . | $.Page.RenderString (dict "display" "block") }}
	</div>
  {{- end }}
  <div class="optin__form">
    {{- partial "emailoptin" . }}
  </div>
</div>
