{{ define "quoteback-js" }}
<script note="" src="https://cdn.jsdelivr.net/gh/Blogger-Peer-Review/quotebacks@1/quoteback.js"></script>
{{ end }}

{{- $title := cond .IsNamedParams (.Get "title") (.Get 0) }}
{{- $author := cond .IsNamedParams (.Get "author") (.Get 1) }}
{{- $cite := cond .IsNamedParams (.Get "cite") (.Get 2) }}
<blockquote class="quoteback" darkmode="" data-title="{{ $title }}" data-author="{{ $author }}" cite="{{ $cite }}">
  {{ .Inner | $.Page.RenderString }}
<footer>{{ $author }}<cite><a href="{{ $cite }}">{{ $cite }}</a></cite></footer>
</blockquote>
